
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('./fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('./fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('./fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


   /*  Global codes  */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

   /*  Site-header  */

.site-header {
  padding-top: 48px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: 45.43px;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

.nav__items--active {
  margin-right: 29px;
}

.nav__items--middle {
  margin-right: 32px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aab;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.nav__link:hover {
  color: #34313d;
}

.outer__link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aab;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.outer__link--active:hover {
  color: #34313d;
}

.outer__link--active {
  margin-right: 37px;
}

.outer__link--last {
  color: #fff;
  background-color: #2BD0D0;
  border-radius: 28px;
  padding-top: 9px;
  padding-right: 23px;
  padding-left: 24px;
  padding-bottom: 8px;
}

.outer__link--last:hover {
  background-color: #9ae3e3;
}

    /*  Hero section  */

.hero {
  background-image: url('./images/image\ 2.svg');
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) calc(50% - 37px);
}

.hero__wrapper {
  width: 565px;
  padding-top: 139px;
  padding-bottom: 208px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aab;
}

.hero__link {
  display: inline-block;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.hero__link:hover {
  background-color: #9ae3e3;
}

    /*   Form  */

.site-article {
  position: absolute;
  left: 100px;
  bottom: -336px;
  background-image: url('./images/Path\ 2.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 120px;
}
   

.site-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 52px;
}

.site-form__input {
  width: 769px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  opacity: 0.5;
  background-color: #fff;
  margin-right: 24px;
  border-radius: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
}

.site-form__button {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background-color: #2BD0D0;
  border-radius: 10px;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 41px;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.site-form__button:hover {
  background-color: #9ae3e3;
}

    /*   Card  */

.card {
  background-color: #f2f2f2;
}

.card__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 186px;
  margin-bottom: 100px;
}

.card__inner {
  width: 540px;
}

.card__title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: #34313d;
  margin-top: 0;
  margin-bottom: 18px;
}

.card__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1227px;
  color: #9e9aab;
  margin: 0;
}

.card__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./images/line.svg");
  background-position: calc(50% + -11px) calc(50% + -93px);
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-bottom:  250px;
}

.card__items {
  background-color: #fff;
  border-radius: 5px;
  margin-right: 30px;
  padding-top: 77px;
  padding-right: 32px;
  padding-bottom: 41px;
  padding-left: 32px;
}

.card__items--active::before {
  position: absolute;
  top: -33px;
  left: 32px;
  width: 88px;
  height: 88px;
  content: "";
  display: inline-block;
  background-image: url("./images/Group\ 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card__items--middle {
  position: absolute;
  left: 380px;
  top: 44px;
}

.card__items--middle::before {
  position: absolute;
  top: -33px;
  left: 32px;
  width: 88px;
  height: 88px;
  content: "";
  display: inline-block;
  background-image: url("./images/Group\ 2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card__items--last {
  position: absolute;
  top: 100px;
  left: 760px;
}

.card__items--last::before {
  position: absolute;
  top: -33px;
  left: 32px;
  width: 88px;
  height: 88px;
  content: "";
  display: inline-block;
  background-image: url("./images/Group3.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.card__connector {
  width: 286px;
}

.card__heading {
  font-size: 22px;
  line-height: 33px;
  color: #34313d;
  margin-top: 0;
  margin-bottom: 12px;
}

.card__paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9e9aab;
}

   /*   Article  */

.site-aside {
  background-image: url('./images/boost.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 57px;
  padding-bottom: 57px;
}

.site-aside__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-aside__title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
  margin-top: 0;
}

.site-aside__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-aside__link {
  display: inline-block;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.site-aside__link:hover {
  background-color: #9ae3e3;
}

    /* Footer  */

.site-footer {
  background-color: #232127;
  padding-top: 71px;
  padding-bottom: 70px;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer__list {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
}

.site-footer__list:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer__list:first-child {
  margin-right: 78px;
}

.site-footer__list:nth-child(2) {
  margin-right: 106px;
}

.site-footer__list:nth-child(3) {
  margin-right: 101px;
}


.site-footer__text {
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 22px;
}

.site-footer__link {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2344px;
  color: #bfbfbf;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.site-footer__link:hover {
  color: #2BD0D0;
}

.site-footer__socials {
  fill: white;
  margin-right: 24px;
  -webkit-transition: fill 0.5s ease;
  -o-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.site-footer__socials:hover {
  fill: #2BD0D0;
}


